@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;900&display=swap');

:root {
    font-size: 16px;
    --col-padding: 10px;
}

html, body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    background: #f3f3f3;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.row > * {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
}
.col {
    flex: 1 0 0%;
}

header {
    display: flex;
    align-items: center;
    background: #404040;
    color: #f4f4f4;
    height: 80px;
    padding: 0 18px;
    letter-spacing: -6px;
}
.logo {
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
}

main {
    display: flex;
    flex-grow: 1;
}

main {
    height: calc(100vh - 160px);
}

.col-info {
    background: lightblue;
    padding: var(--col-padding);
}
.col-controls {
    display: flex;
    flex-direction: column;
    background: lightcoral;
    padding: var(--col-padding);
}
.col-swatches {
    background: lightgreen;
    padding: var(--col-padding);
}

input {
    background: white;
    border: 2px solid lightcoral;
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 8px;
    outline: none;
}

footer {
    background: #404040;
    height: 80px;
    color: #f4f4f4;
}