@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;900&display=swap');

:root {
    font-size: 16px;
    --col-padding: 16px;
}

html, body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    background: #f3f3f3;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.row > * {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
}
.col {
    flex: 1 0 0%;
}

header, footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    padding: 0 18px;
}

header {
    background: #404040;
    color: #f4f4f4;
    letter-spacing: -6px;
}
.logo {
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
}

main {
    display: flex;
    flex-grow: 1;
}

main {
    height: calc(100vh - 160px);
}

.col-info {
    padding: var(--col-padding);
}
.col-controls {
    display: flex;
    flex-direction: column;
    padding: var(--col-padding);
}
.col-swatches {
    padding: 0;
}

.col-swatches > div {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 6px solid #d7d7d7;
    font-weight: bold;
    text-transform: uppercase;
}

.controls-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.controls-row > * {
    flex-grow: 1;
}

.section_title {
    font-size: 1.7rem;
    text-align: center;
    color: #42828A;
    margin-bottom: 6px;
    text-transform: uppercase;
}

::placeholder {
    font-weight: bold;
    color: #fff;
}

input {
    background: #353535;
    border: 6px solid #42828A;
    border-radius: 12px;
    padding: 18px;
    font-weight: bold;
    color: #76a4aa;
    margin-bottom: 8px;
    outline: none;
}

select {
    background: #353535;
    border: 6px solid #42828A;
    border-radius: 12px;
    padding: 18px;
    font-weight: bold;
    color: #76a4aa;
}

button {
    background: #353535;
    border: 6px solid #42828A;
    border-radius: 12px;
    padding: 18px;
    font-weight: bold;
    color: #76a4aa;
    transition: 0.5s;
}

button:hover {
    background: #42828A;
    color: #353535;
}

footer {
    background: #404040;
    color: #f4f4f4;
}