@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;900&display=swap');

:root {
    font-size: 16px;
}

html, body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    background: #f3f3f3;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    background: #404040;
    color: #f4f4f4;
    height: 80px;
    padding: 0 18px;
    letter-spacing: -6px;
}
.logo {
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
}

main {
    display: flex;
    flex-grow: 1;
}

.child {
    display: flex;
    align-items: start;
    justify-content: start;
}

.col1, .col2, .col3 {
    flex-grow: 1;
}

.col1 {
    background: lightblue;
}
.col2 {
    background: lightcoral;
}
.col3 {
    background: lightgreen;
}

.controls {
    display: flex;
    flex-direction: row;
}

input {
    outline: none;
}

footer {
    background: #404040;
    height: 80px;
    color: #f4f4f4;
}